.menu {    padding: 10px;}
.s{}
#figures {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
#figures > div {
	position: absolute;
	z-index: 101;
	height: 30px;
	width: 30px;
	/*transition: all 0.5s linear;*/
	margin: 8px 0 0 7px;
	cursor: pointer;
	/*opacity: 0.7;*/
}
#figures.opacity > div {    opacity: 0.7;}
#figures.opacity > div:hover {	opacity: 1;
}
#figures > div.attack:before {	height: 5px;
	width: 5px;
	background-color: #0f0;
	position: absolute;
	content:"";
}
#figures > div.attacked {
	height: 5px;
	width: 5px;
	background-color: #f00;
	border:2px solid #fff;
	position: absolute;
	content:"";
}
#figures > div > img {
	height: 40px;
	width: 40px;
}
#figures > div.active {	opacity: 1;}
svg {
	cursor: pointer;
	background: url(grass.png) repeat;
}
.field {    fill: rgb(240, 240, 240);
    fill-opacity: 0;
    stroke-width: 0.5;
    stroke: rgb(0, 0, 0);}
.field.zone {	fill: rgb(0, 0, 0);
	fill-opacity: 0.3;
	stroke: rgb(255, 255, 255);
}
.field:hover {
    fill: rgb(0, 0, 0);
    fill-opacity: 0.7;
}
.field.active {
	fill: rgb(0, 255, 0);
	fill-opacity: 0.3;
	stroke-width: 1;
	stroke: rgb(0, 255, 0);
}

.field.enemy {
	fill: rgb(255, 0, 0);
	fill-opacity: 0.3;
    stroke-width: 1;
    stroke: rgb(255, 0, 0);
}
.field.fuckup {
	fill: rgb(0, 0, 0);
	fill-opacity: 1;
	cursor: default;
}

